apiVersion: apps/v1
kind: Deployment
metadata:
  name: mywebapp
  labels:
    app: mywebapp
spec:
  replicas: 2
  selector:
    matchLabels:
      app: mywebapp
      #deployer: distelli
  template:
    metadata:
      labels:
        app: mywebapp
        #deployer: distelli
    spec:
      containers:
      - name: mywebapp
        image: devopsadmin786/demopipeline
        imagePullPolicy: Always
        ports:
        - containerPort: 80