apiVersion: apps/v1
kind: Deployment
metadata:
  name: mywebapp
  labels:
    app: web
spec:
  replicas: 2
  selector:
    matchLabels:
      app: web
      #deployer: distelli
  template:
    metadata:
      labels:
        app: web
        #deployer: distelli
    spec:
      containers:
      - name: mywebapp
        image: devopsadmin786/demopipeline
        #command: ["service nginx start"]
          #args: ["-c", "service nginx start"]
        imagePullPolicy: Always
        ports:
        - containerPort: 80